.banner-section{
  position: relative;
  padding: 0 0;
}

.banner-section .banner-container{
  position: relative;
}

.banner-two .banner-container{
    position: relative;
  }
  
  .banner-two .curve-layer{
      position:absolute;
      left:0px;
      bottom:0;
      width:100%;
      height:260px;
      opacity:1;
      z-index: 0;
      background: url('../assets/banner-bg.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100% 100%;
  }
  
  .banner-two .banner-container{
    padding: 190px 0 120px;
  }
  
  .banner-two .auto-container{
  
  }
  
  .banner-two .text-col{
    position: relative;
    margin-bottom: 30px;
  }
  
  .banner-two .text-col h1{
    position: relative;
    color: #101010;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.45em;
    margin-bottom: 25px;
  }
  
  .banner-two .text-col .inner{
    position: relative;
    max-width: 620px;
    padding-top: 30px;
  }
  
  .banner-two .text-col .text{
    position: relative;
    color: #6D747C;
    max-width: 520px;
  }
  
  .banner-two .text-col .links-box{
    position: relative;
    padding-top: 45px;
  }
  
  .banner-two .text-col .links-box .link{
    position: relative;
    float: left;
    margin-right: 44px;
  }
  
  .banner-two .text-col .links-box .link:last-child{
    margin-right: 0;
  }
  
  .banner-two .vid-btn{
    position: relative;
    top: -4px;
    line-height: 24px;
    padding-left: 70px;
    padding-top: 15px;
  }
  
  .banner-two .vid-btn .icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    height: 58px;
    line-height: 56px;
    font-size: 20px;
    color: #101010;
    text-align: center;
    border: 1px solid #48DCA8;
    border-radius: 50%;
  }
  
  .banner-two .vid-btn .icon .ripple,
  .banner-two .vid-btn .icon .ripple:before,
  .banner-two .vid-btn .icon .ripple:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width:58px;
    height: 58px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-border-radius: 50% 50% 50% 50%;
      -moz-border-radius: 50% 50% 50% 50%;
      -ms-border-radius: 50% 50% 50% 50%;
      -o-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%;
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
      -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
      -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
      -webkit-animation: ripple 3s infinite;
      -moz-animation: ripple 3s infinite;
      -ms-animation: ripple 3s infinite;
      -o-animation: ripple 3s infinite;
      animation: ripple 3s infinite;
  }
  
  .banner-two .vid-btn .icon .ripple:before {
      -webkit-animation-delay: .9s;
      -moz-animation-delay: .9s;
      -ms-animation-delay: .9s;
      -o-animation-delay: .9s;
      animation-delay: .9s;
      content: "";
      position: absolute;
  }
  
  .banner-two .vid-btn .icon .ripple:after {
      -webkit-animation-delay: .6s;
      -moz-animation-delay: .6s;
      -ms-animation-delay: .6s;
      -o-animation-delay: .6s;
      animation-delay: .6s;
      content: "";
      position: absolute;
  }
  
  @-webkit-keyframes ripple {
      70% {box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);}
      100% {box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);}
  }
  
  @keyframes ripple {
      70% {box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);}
      100% {box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);}
  }
  
  .banner-two .vid-btn .txt{
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #101010;
    border-bottom: 2px solid #48DCA8;
  }
  
  .banner-two .counter-col{
    position: relative;
    margin-bottom: 30px;
  }
  
  .banner-two .counter-col .inner{
    position: relative;
    display: block;
    padding-right: 50px;
  }
  
  .banner-two .counter-col .inner-box{
    position: relative;
    display: block;
    float: right;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 25px 60px 35px;
    border: 1px solid #DCDCE7;
    border-radius: 24px;
    box-shadow: -10px 25px 80px rgba(6, 4, 113, 0.1);
  }
  
  .banner-two .counter-col h5{
    text-transform: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .banner-two .counter-col .link-box{
    position: relative;
    text-align: center;
    padding-top: 30px;
  }
  
  .banner-two .counter-col .link-box .theme-btn{
    display: block;
    width: 100%;
  }
  
  .banner-two .time-counter{
    position:relative;
    margin: 0 -10px;
  }
  
  .banner-two .time-countdown-two{
    position:relative;
  }
  
  .banner-two .time-countdown-two .counter-column{
    position:relative;
    display: inline-block;
    width:78px;
    font-size:14px;
    color:#A3A3A3;
    text-transform:capitalize;
    font-weight:500;
    letter-spacing: 0.01em;
    text-align: center;
    z-index: 7;
    margin:0 8px 25px;
  }
  
  .banner-two .time-countdown-two .counter-column .period{
    position:relative;
    display:block;
    font-size: 14px;
    color: #283445;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .banner-two .time-countdown-two .counter-column .count{
    position:relative;
    display:block;
    font-size:20px;
    line-height:32px;
    padding:23px 5px;
    width: 78px;
    height: 78px;
    border: 1px solid #DCDCE7;
    color:#101010;
    font-weight:600;
    letter-spacing:1px;
    background: none;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }
  
  .banner-two .progress-box{
    position: relative;
  }
  
  .banner-two .progress-box .bar-legend{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #283445;
    line-height: 22px;
    margin-bottom: 20px;
  }
  
  .banner-two .progress-box .bar-outer{
    position: relative;
    display: block;
  }
  
  .banner-two .progress-box .bar-inner{
    position: relative;
    display: block;
    width: 100%;
    height: 12px;
    background: none;
    border: 1px solid #DCDCE7;
    border-radius: 6px;
  }
  
  .banner-two .progress-box .bar-inner .bar{
    position: absolute;
    left: -1px;
    top: -1px;
    display: block;
    height: 12px;
    background: #63A3FF;
    background: -webkit-linear-gradient(left,#011B3F,#63A3FF);
    background: -ms-linear-gradient(left,#011B3F,#63A3FF);
    background: -moz-linear-gradient(left,#011B3F,#63A3FF);
    border-radius: 6px;
  }
  
  .banner-two .progress-box .pt{
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    min-width: 60px;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 22px;
    color: #ffffff;
    z-index: 1;
  }
  
  .banner-two .progress-box .pt:before{
    content: '';
    position: absolute;
    left: 49%;
    top: 0;
    height: 36px;
    border-left: 1px solid #414073;
  }
  
  .banner-two .progress-box .pt-one{
    left: 0%;
    top: 0;
  }
  
  .banner-two .progress-box .pt-two{
    left: 40%;
    top: 0;
  }
  
  .banner-two .progress-box .pt-three{
    left: auto;
    right: 0;
    top: 0;
  }
  